# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Vim
*.swp

# Executable
*esplora_sim
*esplora-sim
*esplora_sim

*.orig

# Anything in the build dir
build/*

# tags file
src/tags

# tags file
src/tags

# Event files
___client_events
___device_updates
